
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<!--Ordered List Example-->
<p>Hobbies (Ordered List)</p>
<ol>
    <li>Hobby1</li>
    <li>Hobby2</li>
    <li>Hobby3</li>
    <li>Hobby4</li>
    <li>Hobby5</li>

</ol>

<br />
<!--Unordered list Example-->
<p>Interests (unordered list)</p>
<ul>
    <li>Interest 1 </li>
    <li>Interest 2 </li>
    <li>Interest 3 </li>
    <li>Interest 4 </li>
    <li>Interest 5 </li>
</ul>
  


